#!/bin/bash

set -e

{{ if .sudo -}}
{{- if eq .osid "linux-fedora" -}}
sudo ~/.scripts/fedora_gnome_install_root.sh
{{ end -}}
# Install brew
command -v brew >/dev/null || { sudo -v && NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"; }
{{ end -}}

source ~/.bash_profile
~/.scripts/install_user.sh

