#!/bin/sh
set -e

{{ if eq .chezmoi.os "darwin" }}
# MacOS specific
# Install all brew packages
# brewfile hash: {{ include "dot_config/brewfile/Brewfile" | sha256sum }}
brew bundle --file=.config/brewfile/Brewfile
{{ end }}
