#!/usr/bin/env fish

# Install all brew packages
# brewfile hash: {{ include "dot_config/brewfile/Brewfile.tmpl" | sha256sum }}
brew bundle --file=.config/brewfile/Brewfile

# Install fish plugins
# fisher plugins hash: {{ include "dot_config/private_fish/fish_plugins" | sha256sum }}
fisher update

# Install gh extensions
gh extension install --force \
  dlvhdr/gh-dash

