#!/bin/bash

set -e

{{ if .sudo -}}
{{- if eq .osid "linux-fedora" -}}
sudo ~/.scripts/fedora_gnome_install_root.sh
{{ end -}}

# Install brew
# The root install script can run for a long time. If sudo times out here, allow continuing after coming back to the device.
sudo -v || read -p "Couldn't get sudo. Trying one more time. Press ANY key to continue..." -n 1 -s
command -v brew >/dev/null || { sudo -v && NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"; }
{{ end -}}

source ~/.bash_profile
~/.scripts/install_user.sh

