#!/bin/bash

{{ if eq .chezmoi.osRelease.id "fedora" -}}
sudo ~/.scripts/fedora_gnome_install_root.sh
~/.scripts/fedora_gnome_install_user.sh
{{- end }}

# Install brew
sudo -v && NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
source ~/.bash_profile

# Setup gh-cli
brew bundle --file=.config/brewfile/Brewfile
gh auth login

# Install fisher
fish -c 'curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher update'

