{{- $sudo := promptBoolOnce . "sudo" "Does this user have sudo access" true -}}
{{- $work := promptBoolOnce . "work" "Is this a work device" false -}}
{{- $email := promptStringOnce . "email" "Git email address for the author/committer" "13919759+sadamczyk@users.noreply.github.com" -}}
{{- $defaultName := "sadamczyk" -}}
{{- if $work -}}
{{-   $defaultName = "Sebastian Adamczyk" -}}
{{- end -}}
{{- $name := promptStringOnce . "name" "Git username for the author/committer" $defaultName -}}

{{- /* Easier handling of different OSes */ -}}
{{- /* https://www.chezmoi.io/user-guide/machines/linux/ */ -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    osid = {{ $osid | quote }}
    sudo = {{ $sudo }}
    work = {{ $work }}

[cd]
    command = "fish"
