# Read by chezmoi when choosing repository files to copy to home directory.
# https://www.chezmoi.io/reference/special-files-and-directories/chezmoiignore/
# These are target file names, not source filenames!

*.gz
LICENSE
README.md

# Ignore non-macOS files.
{{ if ne .chezmoi.os "darwin" -}}
.config/zsh
.zshenv
{{- else if ne .chezmoi.osRelease.id "fedora" -}}
.chezmoiscripts/run_once_after_fedora_gnome_setup.sh
{{- end }}

{{ if not .wezterm -}}
.config/wezterm
{{- end }}