# Read by chezmoi when choosing repository files to copy to home directory.
# https://www.chezmoi.io/reference/special-files-and-directories/chezmoiignore/
# These are target file names, not source filenames!

*.gz
LICENSE
README.md

{{ if ne .osid "darwin" -}}
# Ignore macOS files.
.config/zsh
.zshenv
{{ else }}
# Ignore non-macOS files.
.config/gtk-3.0
.config/gtk-4.0
.local
{{- end }}

{{ if ne .osid "linux-fedora" -}}
# Ignore fedora files
.scripts/fedora_gnome_install_root.sh
.scripts/fedora_gnome_install_user.sh
{{- else if not .sudo -}}
.scripts/fedora_gnome_install_root.sh
{{- end -}}

{{ if ne .chezmoi.hostname "lenovo-fedora" -}}
# Ignore files for Lenovo laptop running Fedora
.config/easyeffects
autostart/easyeffects-service.desktop
{{- end }}

