# Keymap
map ctrl+shift+6 debug_config
map kitty_mod+up    scroll_line_up
map kitty_mod+k     scroll_line_up
map kitty_mod+down    scroll_line_down
map kitty_mod+j       scroll_line_down
map kitty_mod+page_up scroll_page_up
map kitty_mod+page_down scroll_page_down
map kitty_mod+home scroll_home
map kitty_mod+end scroll_end
map kitty_mod+g show_last_command_output
map ctrl+c copy_and_clear_or_interrupt
map ctrl+v paste_from_clipboard

# Fonts
# https://www.reddit.com/r/KittyTerminal/comments/r5hssh/comment/hmnbxon/?context=3
# - Font config
font_family DejaVu Sans Mono
#  font_family Source Code Pro
#  font_family Liberation Mono
#  font_size 20
# - Use additional nerd symbols
# See https://github.com/be5invis/Iosevka/issues/248
# See https://github.com/ryanoasis/nerd-fonts/wiki/Glyph-Sets-and-Code-Points
# Seti-UI + Custom
symbol_map U+E5FA-U+E62B Symbols Nerd Font
# Devicons
symbol_map U+E700-U+E7C5 Symbols Nerd Font
# Font Awesome
symbol_map U+F000-U+F2E0 Symbols Nerd Font
# Font Awesome Extension
symbol_map U+E200-U+E2A9 Symbols Nerd Font
# Material Design Icons
symbol_map U+F500-U+FD46 Symbols Nerd Font
# Weather
symbol_map U+E300-U+E3EB Symbols Nerd Font
# Octicons
symbol_map U+F400-U+F4A8,U+2665,U+26A1,U+F27C Symbols Nerd Font
# Powerline Extra Symbols
symbol_map U+E0A3,U+E0B4-U+E0C8,U+E0CC-U+E0D2,U+E0D4 Symbols Nerd Font
# IEC Power Symbols
symbol_map U+23FB-U+23FE,U+2b58 Symbols Nerd Font
# Font Logos
symbol_map U+F300-U+F313 Symbols Nerd Font
# Pomicons
symbol_map U+E000-U+E00D Symbols Nerd Font

# Miscellaneous settings
tab_bar_edge top
tab_bar_style powerline
shell fish
# https://sw.kovidgoyal.net/kitty/conf/#opt-kitty.confirm_os_window_close
# Negative values don't count kitty windows sitting at prompt, requires shell integration
confirm_os_window_close -1
# TODO Should I really have this active in ALL windows by default?
allow_remote_control yes

# BEGIN_KITTY_THEME
{{ if eq .chezmoi.os "darwin" -}}
{{- if eq "Dark" (output "sh" "-c" "defaults read -g AppleInterfaceStyle 2>/dev/null || true" | trim) -}}
# Solarized Dark
{{- else -}}
# Solarized Light
{{- end -}}
{{- else -}}
{{- if eq "prefer-dark" (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim | trimAll "'") -}}
# Solarized Dark
{{- else -}}
# Solarized Light
{{- end -}}
{{- end }}
include current-theme.conf
# END_KITTY_THEME
