tap "homebrew/bundle"
tap "homebrew/services"
tap "rsteube/tap"
tap "lindell/multi-gitter"
tap "hashicorp/tap"
{{ if eq .osid "darwin" -}}
tap "homebrew/cask"
tap "homebrew/cask-fonts"
cask "font-dejavu"
cask "ukelele"
cask "wezterm"
brew "fish"
{{- end }}
brew "bitwarden-cli"
brew "btop"
brew "chezmoi"
brew "composer"
brew "dprint"
brew "exa"
brew "fzf"
brew "gcc"
brew "gdrive"
brew "gh"
brew "git-delta"
brew "git-lfs"
brew "gitui"
brew "glow"
brew "golang"
brew "gum"
brew "terraform-ls"
brew "helix"
brew "hyperfine"
brew "k3d"
brew "k9s"
brew "kubectx"
brew "kubent"
brew "lazygit"
brew "lf"
brew "marksman"
brew "mr"
brew "navi"
brew "neovim"
brew "php"
brew "pulumi"
brew "rclone"
brew "ripgrep"
brew "starship"
brew "terraform"
brew "tldr"
brew "vscode-langservers-extracted"
brew "xsv"
brew "rsteube/tap/carapace"
brew "lindell/multi-gitter/multi-gitter"
