tap "homebrew/bundle"
tap "homebrew/services"
tap "rsteube/tap"
tap "lindell/multi-gitter"
{{ if eq .chezmoi.os "darwin" -}}
tap "homebrew/cask"
tap "homebrew/cask-fonts"
cask "font-fira-code"
cask "ukelele"
cask "wezterm"
{{- end }}
brew "bitwarden-cli"
brew "btop"
brew "chezmoi"
brew "dprint"
brew "exa"
brew "fish"
brew "fzf"
brew "gcc"
brew "gdrive"
brew "gh"
brew "git-delta"
brew "git-lfs"
brew "gitui"
brew "glow"
brew "gum"
brew "helix"
brew "hyperfine"
brew "k9s"
brew "kubectx"
brew "kubent"
brew "lf"
brew "marksman"
brew "navi"
brew "neovim"
brew "rclone"
brew "ripgrep"
brew "starship"
brew "tldr"
brew "vscode-langservers-extracted"
brew "xsv"
brew "zoxide"
brew "rsteube/tap/carapace"
brew "lindell/multi-gitter/multi-gitter"
