[color "diff"]
	whitespace = red reverse
[core]
	excludesfile = ~/.config/git/ignore_global # Store global exclusions into a custom file.
# syntax-theme = ansi # so colors for light and dark theme of terminal? https://github.com/dandavison/delta/issues/447
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = aliases
[log]
	date = iso
[merge]
	conflictstyle = diff3
[push]
	default = current
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}

# TODO Test if I like these settings:
[mergetool]
	# Avoid saving an `.orig` backup file after a merge.
	keepBackup = false
[rebase]
	# Create a temporary stash entry before the operation begins.
	autostash = true
