[color "diff"]
	whitespace = red reverse
[core]
	excludesfile = ~/.config/git/ignore_global # Store global exclusions into a custom file.
	pager = delta
[delta]
	navigate = true # use n and N to move between diff sections
	{{ if eq .chezmoi.os "darwin" -}}
	{{- if eq "Dark" (output "sh" "-c" "defaults read -g AppleInterfaceStyle 2>/dev/null || true" | trim) -}}
	light = false
	{{- else -}}
	light = true
	{{- end -}}
	{{- else -}}
	{{- if eq "prefer-dark" (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim | trimAll "'") -}}
	light = false
	{{- else -}}
	light = true
	{{- end -}}
	{{- end }}
	tabs = 4
# syntax-theme = ansi # so colors for light and dark theme of terminal? https://github.com/dandavison/delta/issues/447
[diff]
	colorMoved = default
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = aliases
[interactive]
	diffFilter = delta --color-only
[log]
	date = iso
[merge]
	conflictstyle = diff3
[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}

# TODO Test if I like these settings:
[mergetool]
	# Avoid saving an `.orig` backup file after a merge.
	keepBackup = false
[rebase]
	# Create a temporary stash entry before the operation begins.
	autostash = true
	autosquash = true
