{{ if eq .osid "darwin" -}}
{{- if eq "Dark" (output "sh" "-c" "defaults read -g AppleInterfaceStyle 2>/dev/null || true" | trim) -}}
theme = "solarized_dark"
{{- else -}}
theme = "solarized_light"
{{- end -}}
{{- else -}}
{{- if eq "prefer-light" (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim | trimAll "'") -}}
theme = "solarized_light"
{{- else -}}
theme = "solarized_dark"
{{- end -}}
{{- end }}

[editor]
bufferline = "multiple"
line-number = "relative"

[editor.file-picker]
hidden = false # Show hidden files (vendor etc.)
git-ignore = true

[editor.soft-wrap]
enable = true

[keys.normal]
# Might not be needed in the future? https://github.com/helix-editor/helix/issues/3001
A-d = "delete_selection"
d = "delete_selection_noyank"
A-c = "change_selection"
c = "change_selection_noyank"
C-g = [":new", ":insert-output lazygit", ":buffer-close!", ":redraw"]
C-e = [":new", ":insert-output lf", ":buffer-close!", ":redraw"]
X = ["extend_line_up", "extend_to_line_bounds"]
"*" = "search_selection"
"A-*" = "search_selection_detect_word_boundaries"
C-f =  "@*<space>/<ret>"

[keys.normal.g]
e = "goto_file_end" # Fix for files without a newline at the end

[keys.select]
X = ["extend_line_up", "extend_to_line_bounds"]
C-f =  "@*<space>/<ret>"
