{{ if eq .chezmoi.os "darwin" -}}
{{- if eq "Dark" (output "sh" "-c" "defaults read -g AppleInterfaceStyle 2>/dev/null || true" | trim) -}}
theme = "solarized_dark"
{{- else -}}
theme = "solarized_light"
{{- end -}}
{{- else -}}
{{- if eq "prefer-dark" (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim | trimAll "'") -}}
theme = "solarized_dark"
{{- else -}}
theme = "solarized_light"
{{- end -}}
{{- end }}

[editor]
bufferline = "multiple"
line-number = "relative"

[editor.file-picker]
hidden = false # Show hidden files (vendor etc.)
git-ignore = false

[keys.normal]
# Might not be needed in the future? https://github.com/helix-editor/helix/issues/3001
A-d = "delete_selection"
d = "delete_selection_noyank"
A-c = "change_selection"
c = "change_selection_noyank"
